/.env
/secrets
/_build
/kafka-logs
/kafka-data
/kafka_data
/zookeeper-logs
/zookeeper-data
/zookeeper_data
/loki
/crm-admin-client
/linkedin_article_api2.md
/.pnpm-store/*
/.dynamic_fishing_2026-09-10_15-25-06.dump


.DS_Store
